<div class="container" fxLayout="row" fxLayoutAlign="center none">
	<div fxFlex="95%">
		<mat-card>
			<mat-card-content style="padding: 10px;">
				<h2 style="margin-top: 5px; margin-bottom: 32px;">Importar áreas, temas y tipos:</h2>

				<mat-form-field appearance="fill" style="width: 280px;">
					<mat-label>Forma de importar</mat-label>
					<mat-select [(value)]="selected" (selectionChange)="selectionChanged()" style="padding-top: 5px;">
						<mat-option *ngFor="let info of avariableDlls" value="{{ info.name }}">{{ info.name }}</mat-option>
					</mat-select>
				</mat-form-field>
				<ng-container *ngIf="selectedDll">
					<h3 style="margin-top: 5px;">Información:</h3>
					<p>{{ selectedDll.info }}</p>
					<h3 style="margin-top: 25px; margin-bottom: 18px;">Parámetros de importación:</h3>

					<form [formGroup]="importForm" (ngSubmit)="sendImport()">
						<ng-container *ngFor="let field of selectedDll.fields">
							<ng-container [ngSwitch]="field.type">
								<ng-container *ngSwitchCase="'text'">
									<mat-form-field appearance="fill">
										<mat-label>{{ field.name }}</mat-label>
										<input matInput formControlName="{{ field.id }}" style="padding-top: 5px;" />
									</mat-form-field>
								</ng-container>
								<ng-container *ngSwitchCase="'textfield'">
									<mat-form-field appearance="fill" style="width: 100%;">
										<mat-label>{{ field.name }}</mat-label>
										<textarea
											matInput
											cdkTextareaAutosize
											#autosize="cdkTextareaAutosize"
											cdkAutosizeMinRows="1"
											cdkAutosizeMaxRows="20"
											formControlName="{{ field.id }}"
											style="padding-top: 10px; max-height: 300px; min-height: 30px;"
										></textarea>
									</mat-form-field>
								</ng-container>
								<ng-container *ngSwitchCase="'combo'">
									<mat-form-field appearance="fill">
										<mat-label>{{ field.name }}</mat-label>
										<mat-select formControlName="{{ field.id }}" style="padding-top: 5px;">
											<mat-option *ngFor="let option of field.args" value="{{ option }}">{{ option }}</mat-option>
										</mat-select>
									</mat-form-field>
								</ng-container>
								<br />
							</ng-container>
						</ng-container>

						<br />
						<button mat-raised-button color="primary" [disabled]="importForm.invalid" type="submit" style="width: 300px; height: 48px; font-size: 18px;">
							Importar
						</button>
					</form>
				</ng-container>
			</mat-card-content>
		</mat-card>
	</div>
</div>
