<div class="container" fxLayout="row" fxLayoutAlign="center none">
	<div fxFlex="95%">
		<mat-card>
			<mat-card-content style="padding: 10px;">
				<h2 style="margin-top: 5px; margin-bottom: 32px; width: 300px; display: inline-block;">Todas las solicitudes:</h2>

				<div fxLayout style="float: right; width: 250px;">
					<mat-form-field style="width: 100%;">
						<input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter" />
					</mat-form-field>
				</div>

				<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
					<ng-container matColumnDef="id">
						<th mat-header-cell *matHeaderCellDef style="width: 100%;">Id</th>
						<td mat-cell *matCellDef="let req">
							<a href="/requests/details/{{ req.id }}" target="_blank" style="width: 125px; bottom: 8px;">{{ req.id }}</a>
						</td>
					</ng-container>

					<ng-container matColumnDef="fecha">
						<th mat-header-cell *matHeaderCellDef style="min-width: 200px;">Fecha</th>
						<td mat-cell *matCellDef="let req">{{ req.date }}</td>
					</ng-container>

					<ng-container matColumnDef="estado">
						<th mat-header-cell *matHeaderCellDef style="min-width: 100px;">Estado</th>
						<td mat-cell *matCellDef="let req">{{ req.status }}</td>
					</ng-container>

					<ng-container matColumnDef="cambiarEstado">
						<th mat-header-cell *matHeaderCellDef style="min-width: 80px;">Cambiar estado</th>
						<td mat-cell *matCellDef="let req"><button mat-raised-button color="primary" (click)="changeStatus(req)">Editar</button></td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
				</table>
				<mat-paginator [pageSize]="12" [pageSizeOptions]="[12, 24, 48]"> </mat-paginator>
			</mat-card-content>
		</mat-card>
	</div>
</div>
